*{
  font-family: 'Press Start 2P', cursive;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

html {
  background: #6c5eb5;
}

h1 {
  color: #fff;
}

hr {
  size: 10px;
}

#controls {
	margin-top: 20px;
	text-align: center;
	display: block;
}

label {
  margin: auto;
  border: #222222 solid thick;
}

#header {
  text-align: center;
  font-family: sans-serif;
}

#pixmap {
  padding-left: 0;
  padding-right: 0;

  margin-left: auto;
  margin-right: auto;
  display: block;

  outline: #352879 solid thin;
}

#palette {

  margin-left: auto;
  margin-right: auto;
  display: block;

  outline: #352879 solid thin;
}

